.fab--btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  box-shadow: 0px 7px 10px #00000019;
  justify-content: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #00c853;
}
.fab--image {
  height: 30px;
  width: 30px;
  margin-right: 3px;
}
.fab--btn:hover {
  background-color: #03953d;
}
.fab--btn:active {
  background-color: #00c853;
}
.fab--edit {
  background-color: #2f80ed;
}
.fab--editimage {
  height: 35px;
  width: 35px;
  margin-bottom: 3px;
}
.fab--edit:hover {
  background-color: #215faf;
}
.fab--edit:active {
  background-color: #2f80ed;
}
