.grade--container {
  background-color: white;
  height: 61px;
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #eaeaea;
  cursor: pointer;
}
.grade--container:hover {
  background-color: #fafafa;
}
.grade--font {
  font-size: 24px;
  flex: 1;
  margin-top: 5px;
  margin-bottom: 5px;
}
.grade--arrow {
  height: 20px;
  width: 20px;
}
